In [1]:
import pandas as pd

data = "Resources/purchase_data.csv"
orig_df = pd.read_csv(data)
orig_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count

In [2]:
players = orig_df["SN"].unique()
num_players = len(players)
player_count_df = pd.DataFrame({"": num_players}, ["Total Number of Players"])
player_count_df

Total Number of Players  576

### Purchasing Analysis (Total)

In [3]:
unique_items = len(orig_df["Item ID"].value_counts())
unique_items

179

In [4]:
avg_price = round(orig_df["Price"].mean(), 2)
avg_price

3.05

In [5]:
total_purchases = orig_df["Purchase ID"].count()
total_purchases

780

In [6]:
total_rev = orig_df["Price"].sum()
total_rev

2379.77

In [7]:
d = {"Number of Unique Items": unique_items,"Average Purchase Price": avg_price,"Total Number of Purchases": total_purchases,"Total Revenue": total_rev}
Purchasing_anal_df = pd.DataFrame(data=d, index=[""])
Purchasing_anal_df.transpose().head()

Number of Unique Items      179.00
Average Purchase Price        3.05
Total Number of Purchases   780.00
Total Revenue              2379.77

### Gender Demographics

In [9]:
gen = orig_df[["SN", "Gender"]]
gen = gen.drop_duplicates()
count = gen["Gender"].value_counts()
percent = round(count/count.sum() * 100,2)

d = {"Percentage of Players": percent,
     "Total Count": count}

gen_demo_df = pd.DataFrame(data=d, index=["Male", "Female", "Other / Non-Disclosed"])
gen_demo_df

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11

### Purchasing Analysis (Gender)

In [31]:
purch_data = orig_df.groupby(["Gender"])
gen_count = purch_data["Purchase ID"].count()
Avg_Price = purch_data["Price"].mean()
Total_Pur_Val = purch_data["Price"].sum()
Avg_Person = round(Total_Pur_Val/count,2)

d = {"Purchase Count": gen_count,
    "Avg Purchase Price": Avg_Price,
    "Total Purchase Value": Total_Pur_Val,
    "Avg Purchase Total/Person": Avg_Person}

p_analysis_df = pd.DataFrame(d)
p_analysis_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Purchase Total/Person
Gender,,,,
Female,113,3.203009,361.94,4.47
Male,652,3.017853,1967.64,4.07
Other / Non-Disclosed,15,3.346000,50.19,4.56

### Age Demographics

### Top Spenders

In [64]:
ind_df = orig_df.set_index("SN")
purchase_count = orig_df["SN"].value_counts()

grouped_SN = ind_df.groupby(["SN"])
total_purchase_value = grouped_SN.sum()
total_purchase_value = total_purchase_value["Price"]
avg_purchase_price = round(total_purchase_value/purchase_count,2)

d = {"Purchase Count": purchase_count,
    "Average Purchase Price": avg_purchase_price,
    "Total Purchase Value": total_purchase_value}

top_spenders_df = pd.DataFrame(d)
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)

top_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

### Most Popular Items

In [65]:
orig_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [84]:
popular_purchase_value = orig_df.groupby(["Item ID", "Item Name"])["Price"].agg(['count','sum'])

# popular_purchase_value = popular_purchase_value["Price"]

popular_df = orig_df[["Item ID", "Item Name", "Price"]]
popular_df["Purchase Count"] = popular_count
popular_df["Total Purchase Value"] = popular_purchase_value
popular_df = popular_df[["Item ID", "Item Name", "Purchase Count", "Price", "Total Purchase Value"]]

popular_df = popular_df.sort_values("Purchase Count", ascending=False)
popular_df = popular_df.reset_index()

popular_df.head()

C:\Users\nabis\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

TypeError: incompatible index of inserted column with frame index